@model IEnumerable<Site>
@using System.Linq
@{
    ViewData["Title"] = "Sites";
}

<p><a asp-action="add" class="btn btn-primary">Add Site</a></p>

@Html.Partial("_SitesPager")

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th style="width: 60px; min-width: 60px;">&nbsp;</th>
                <th width="300px;">Name</th>
                <th>URI</th>
                <th width="100px;">Rank</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="4">No sites to list.</td>
                </tr>
            }
            else
            {
                foreach (var site in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="edit" asp-route-id="@site.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a asp-action="delete" asp-route-id="@site.Id" class="delete-site"><i class="glyphicon glyphicon-trash"></i></a>
                        </td>
                        <td>@site.Name</td>
                        <td>@site.Uri</td>
                        <td>@site.Rank</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@Html.Partial("_SitesPager")

@section scripts {
    <script>
        $('.delete-site').click(function (e) {
            e.preventDefault();
            if (confirm('Are you sure your want to delete this site?')) {
                location = $(this).attr('href');
            }
        });
    </script>
}
